.Results {
    .ImageContainer {
        position: relative;
        z-index: 2;
        border-radius: 50%;
        text-align: center;
    }

    .DetailContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 30px 60px;
        border-radius: 10px;
        background-color: #fff;
        width: 100%;
        margin-top: -80px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        text-align: left;
    }

    .Attribute {
        padding: 20px 0;
    }

    .AttributeText {
        padding-right: 10px;
        margin: 0;
    }

    .Species {
        max-height: 250px;
        overflow-y: scroll;
    }

    .Progress {
        padding-top: 12px;
    }
}